body {
	font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	background-color: #f6f6f6;
	background-image: url('../img/colorbar.png');	
	background-position: left top; 
	background-repeat: no-repeat; 
	background-size: 100% 6px;
	color: #333333;	
	padding-bottom: 40px;
}

/* TOP NAV */
#colorBar {height:6px;}
#navList {float: right;margin-bottom: 0px;}
#userInfo {float:right; margin-bottom: 0px;}
#navList div {float: left;padding: 11px 0 0 20px;font-size: 15px;font-weight: bold;color: #98A2A9;}
#userInfo div {float:left; padding:11px 30px 0 20px; font-size:13px; font-weight:bolder; color: #98A2A9;}
#row-logo {padding: 30px 0 0 0;}
.imgLogo {height: 35px; width: 170px; float: left;}
#navList a {color: #98A2A9;}
#userInfo a {color: #98A2A9;}
#navList .active, #navList .active a {color: #333333;}
#userInfo .active, #userInfo .active a, #userInfo a:hover {color: #333333; text-decoration:none;}
.navbar.bufferBottom {margin-bottom: 15px;}
.cityChoice{
	margin-left:50px;
	padding:0px;
	background: rgba(243, 115, 33, 0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:15px;
	font-weight:bold;
}
.topBorder {border-bottom: 1px solid #C8C8C8;}
.bufferBottom20 {margin-bottom: 20px;}
row-fluid{
	margin:0px;
	padding:0px;
	background:none;
	border:none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-user {
	background-position: -168px 0;
}

.dropDemo{
	position:relative;
	left:-20px;
}

/* WRAPPERS */
.wrapper {
	padding:0 20px 0 20px;
	box-shadow: 0 0 0 0 white, 0 0px 0 0 white, 0 3px 10px 0 rgba(0, 0, 0, .2);
}
.wrapperWhite {
	background-color:white;
}
.wrapperWhite.bottom {
	padding-bottom: 100px;
}
.wrapperBrown {
	padding-top:20px;
    background-color: #f3f3eb;
    border-top: 1px solid #e9e9e1;
	border-bottom: 1px solid #e9e9e1;
}
#wrapperFooter {
	background-color: #333333;
	box-shadow: 0 0 0 0 white, 0 0px 0 0 white, 0 3px 10px 0 rgba(0, 0, 0, .2);
}

/* BODY */
.thumbnail h2{
	font-size:18px;
	font-weight:bolder;
	text-align:center;
}
.loginDialog{
	margin-top:40px;
}
.loginLabel{
	margin-top:20px;
}

/* FOOTER */
#footerContent {
	padding-top: 40px;
	padding-bottom: 15px;
    color: #999999;
}
#footerCopyright {
    border-top: 0px solid #666666;
	text-align:right;
    font-size: 12px;
	font-weight:bolder;
    color: #666666;
	padding-top: 5px;
}

.thumbnail img{width:300px; height:200px;}

/* ORDER */
.orderTitle h2{
	letter-spacing:6px;
}
.orderContent{
	margin-top:20px;
}